* {
    margin: 0;
}

html {
    height: 100vh;
    font-family: monospace;
    letter-spacing: .25em;
    background-color: black;
    overflow: hidden;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 20%;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.top-header {
    background-color: rgba(0, 0, 0, 0.91);
    height: 6rem;
    min-height: 75px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-styling {
    color: #ffffff;
    text-decoration: none;
}

.left-side-icons {
    display: flex;
    justify-content: flex-start;
    align-self: auto;
    min-width: 10em;
    padding-right: 2em;
    padding-left: 2em;
}

.right-side-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
}

.right-side-icons a {
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 6rem;

}

.landing-page {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: x-large;
    color: #fff;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .25em;
    animation: 
      /* typing 6s steps(30, end), */
      blink-caret .7s step-end infinite;
}

@keyframes typing {
    from { width: 0% }
    to { width:40% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    40% { border-color: rgb(255, 255, 255) }
  } 

  .bio-page {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: x-large;
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: center;
    color: #fff;
    letter-spacing: .25em;
    max-width: 50em;
  }

  .class-page {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: x-large;
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: center;
    color: #fff;
    letter-spacing: .25em;
    max-width: 50em;

  }

#studioPage img {
    display: flex;
    object-fit: contain;
    max-width: 30rem;
}

#unmuteButton {
    width: min-content;
    background-color: transparent;
    opacity: 60%;
    border: none;
    transform: scale(1.2);
    position: fixed;
    bottom: 7em;
    left: 1em;
    padding: 1em;
}

.footer-content {
    background-color: rgba(0, 0, 0, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    min-height: 75px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyWrite {
    position: absolute;
    right: 3em;
    color: #ffffff;
    font-size: smaller;
}

.videoCredit {
    position: absolute;
    left: 3em;
    color: #ffffff;
    font-size: smaller;
}

.michelle {
    text-decoration: none;
    color: cadetblue;
}

.fa {
    font-size: 24px;
    margin: 0 .5em;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 967px) {

    .right-side-icons {
        display: flex !important;
    }

    #menuButton {
      display: none;
    }
  }
  @media (max-width: 966px) {
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .my-video {
        min-height: 100%;
        min-width: 100%;
    }

    .top-header {
        overflow: hidden;
    }
    
    .left-side-icons {
        white-space: nowrap;
        
    }

    .right-side-icons {
        display: none;
        flex-direction: column; /* Displaying icons in a column */
        justify-content: flex-end; /* Aligning icons to the bottom */
        align-items: center;
        position: absolute;
        top: 6.1rem; /* Adjust to position below header */
        background-color: rgba(0, 0, 0, 0.91); 
        width: 100%;
        gap: 2em;
        font-size: larger;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    #menuButton {
        display: block;
        padding-right: 2em;
    }

    .center-container {
        padding: 0 1rem;
        overflow: hidden;    
    }

    .landing-page {
        display: flex;
        font-size: larger;
        white-space: nowrap;
        letter-spacing: .2em;
    }

    }

    .bio-page {
        font-size: larger;
        letter-spacing: .25em;
        max-width: 25em;
      }

    #unmuteButton {
        bottom: 7em;
        left: 1em;
        padding: 1em;
    }

    .footer-content {
        flex-direction: column;
        margin-top: 1em;
        letter-spacing: .4em;
        text-wrap: nowrap;
    }

    .copyWrite {
        display: none;
    }

    .videoCredit {
        display: none;
    }
}